

body {
    background-color: black;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.grid .case {
    list-style: none;
    background-color: aliceblue;
}

.case-img {
width: 100%;

}